<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app_perso.tutorfinder_v2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tutor_finder_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tutor_finder_v2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.user.studentTutor.ui.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.studentTutor.student.ProfileActivity"
            android:label="@string/selected_tutor_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.studentTutor.student.SearchResultActivity"
            android:label="@string/matched_tutors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgottenPassword.ForgottenPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user.admin.AdminHomeActivity"
            android:label="@string/admin_portal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.studentTutor.student.StudentMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.studentTutor.tutor.TutorMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signInSignUp.SignInSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splashScreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>